<% content_for :page_controls do %>
    <%= render 'index_controls' %>
<% end %>

<div class="row">
  <div class="col-md-4">
      <h3>Best? events</h3>
      <% @events_best.each do |event|  %>
        <div class="panel panel-default" >
          <div class="panel-heading" style="background-color: <%= get_coolness_color(event) %>">
            <span><%= event.name %></span>
          </div>
          <div class="panel-body">
            Participants count <%= event.users.count %>
          </div>
          <div class="panel-footer">
            <%= link_to 'Show', event_path(event.id), class: "btn btn-default" %>
            <%= render 'events/event_controls', event: event %>
          </div>
        </div>
      <% end %>
  </div>
  <div class="col-md-4">
    <h3>Most boring events</h3>
    <% @events_worst.each do |event|  %>
        <div class="panel panel-default" >
          <div class="panel-heading" style="background-color: <%= get_coolness_color(event) %>">
            <span><%= event.name %></span>
          </div>
          <div class="panel-body">
            Participants count <%= event.users.count %>
          </div>
          <div class="panel-footer">
            <%= link_to 'Show', event_path(event.id), class: "btn btn-default" %>
            <%= render 'events/event_controls', event: event %>
          </div>
        </div>
    <% end %>
  </div>
  <div class="col-md-4">
    <h3>Events closest to you</h3>
    <% @events_closest.each do |event|  %>
        <div class="panel panel-default" >
          <div class="panel-heading" style="background-color: <%= get_coolness_color(event) %>">
            <span><%= event.name %></span>
          </div>
          <div class="panel-body">
            Participants count <%= event.users.count %>
          </div>
          <div class="panel-footer">
            <%= link_to 'Show', event_path(event.id), class: "btn btn-default" %>
            <%= render 'events/event_controls', event: event %>
          </div>
        </div>
    <% end %>
  </div>
</div>
