<%= link_to 'Show', event, class: "btn btn-default" %>
<% if event.user_is_owner? current_user  %>
  <div class="btn-group">
    <%= link_to 'Edit', edit_event_path(event), class: "btn btn-default" %>
    <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
  </div>
<% elsif current_user.present? %>
  <div class="btn-group">
    <% if event.user_participates? current_user %>
        <%= link_to 'Leave', leave_event_path(event), class: "btn btn-default" %>
    <% else %>
        <%= link_to 'Join', join_event_path(event) ,class: "btn btn-default" %>
    <% end %>
  </div>
<% end %>