<%= render 'event_controls', event: @event %>
<hr>
<%= link_to 'buhlo', new_alkohol_path, class: 'btn btn-danger' %>
<%= content_tag :a, 'Add track', :href => '#add-track', :class => 'btn btn-default', :data => {:toggle => 'modal'} %>
<%= render 'playlist' %>
<div id="player"></div>

<%= render 'shared/add_track' %>

<script>
  $('.playlist').click(function(){
      $('#player').children().remove();
      var url = $(this).data('url');
      var player = Popcorn.soundcloud( "#player", url );
  })
</script>