<%= render 'event_controls', event: @event %>
<hr>
<% if @event.modifiable?(current_user) %>
    <%= link_to 'Add alcohol', (new_alkohol_path + '/?event_id=' + @event.id.to_s), class: 'btn btn-danger', style: 'width: 100%' %><br>
    <%= content_tag :a, 'Add track', :href => '#add-track', :class => 'btn btn-default', :style => 'width: 100%' ,:data => {:toggle => 'modal'} %>
<% end %>
<%= render 'playlist' %>
<div id="player"></div>

<%= render 'shared/add_track' %>

<script>
  $('.playlist').click(function(){
      $('#player').children().remove();
      var url = $(this).data('url');
      var player = Popcorn.soundcloud( "#player", url );
  })
</script>