<% content_for :page_controls do %>
    <%= render 'show_controls' %>
<% end %>

<% content_for :page_title do %>
    <h3><%= @event.name %></h3>
    <hr>
<% end %>

<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <table class="table table-bordered">
    <tr>
      <td style="width: 50%">
        <div class="panel panel-default">
          <div class="panel-heading">
            <p><%= @event.date %></p>
            <p><%= @event.end_date %></p>
            <p><%= @event.users.count %></p>
          </div>
          <div class="panel-body">
            <p><%= raw @event.description %></p>
          </div>
        </div>
      </td>
      <td style="width: 50%">
        <%= render 'map' %>
      </td>
    </tr>
  </table>
</div>

<div class="well">
    <% @event.tags.each do |tag| %>
        <span><%= tag.body %> </span>
    <% end %>
</div>

<h4>Comments</h4>

<% @event.comments.each do |comment| %>
    <div class="col-md-12">
      <div class="col-md-2" id="header">
        <div class="panel panel-default">
          <div class="panel-heading">
            <p><%= User.where(:id => comment.user_id).name %></p>
          </div>
          <div class="panel-footer">
            <p><%= comment.created_at.to_date %></p>
            <p><%= comment.created_at.strftime '%I:%M%p' %></p>
          </div>
        </div>
      </div>
      <div class="well col-md-10">
        <p><%= raw comment.body %></p>
      </div>
    </div>
<% end %>

<%= render 'editor' if @event.user_participates? current_user %>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>